extends layouts/main

block content
  .form-container
    form(action=`${routes.videos}${routes.upload}`, method="post" , enctype="multipart/form-data")
      div.fileUpload
        label(for="video") Upload Video
          input(type="file" id="video" name="file", required=true, accept="video/*")
      input(type="text" placeholder="Video Title" name="title", required=true)
      textarea(type="text" placeholder="Video Descrtion" name="description", required=true, cols="30" rows="10")
      input(type="submit" value="Upload Video")
