extends layouts/main

block content
  .form-container
    form(action=`${routes.videos}${routes.videoEdit(video.id)}`, method="post")
      input(type="text" placeholder="Video Title" name="title" value=video.title)
      textarea(type="text" placeholder="Video Description" name="description" cols="30" rows="10")=video.description
      input(type="submit" value="Update Video")
      a.form-container--link(href=`${routes.videos}${routes.videoDelete(video.id)}`) Video Delete!
