extends layouts/main

block content
  .form-container
    form(action=`${routes.videos}${routes.video_edit(video.id)}`, method="post")
      input(type="text" placeholder="Video Title" name="title" value=video.title)
      textarea(type="text" placeholder="Video Description" name="description" cols="30" rows="10")=video.description
      label(for="video") Update Video
      input(type="submit" value="Update Video")
  a.form-container--link(href=`${routes.videos}${routes.video_delete(video.id)}`) Video Delete!
